:root {
    --background-main: #002b36;
    --background-sidebar: #023643;
    --text-primary: #93a1a1;
    --text-secondary: #dfdfdf;
    --text-tertiary: #a4b5b6;;
    --text-placeholder: #32555e;
    --icon-primary: invert(91%) sepia(5%) saturate(574%) hue-rotate(134deg) brightness(78%) contrast(90%);
    --icon-secondary: invert(100%) sepia(0%) saturate(6825%) hue-rotate(55deg) brightness(121%) contrast(75%);
    --icon-tertiary: var(--icon-primary);
    --button: #1b4a55;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background: var(--background-main);
}

h1,h2,h3,h4,h5,h6,p {
    margin-bottom: 1rem;
}

p {
    line-height: 1.5;
}

a {
    color: var(--text-tertiary);
}

body.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

nav.navbar {
    position: fixed;
    width: 240px;
    left: 0;
    top: 0;
    background: var(--background-sidebar);
    height: 100%;
    padding: 1rem;
    z-index: 1;
}

    nav.navbar .icon-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    nav.navbar .icon-group .icon {
        filter: var(--icon-tertiary);
        margin-right: 1rem;
    }

    nav.navbar .icon-group .icon:last-child {
        margin-right: 0;
    }

    nav.navbar h5 {
        font-size: 1rem;
        font-variant: small-caps;
        color: var(--text-tertiary);
        margin-top: 2rem;
    }

    nav.navbar ul {
        list-style-type: none;
        font-size: 1rem;
        color: var(--text-secondary);
    }

    nav.navbar ul > li {
        padding: 0.25rem 0;
        margin: 0.5rem 0;
    }

    nav.navbar ul > li > a {
        text-decoration: none;
        color: inherit;
    }

main.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background-main);
    color: var(--text-secondary);
    height: 100%;
    width: 100%;
    padding: 1rem 2rem;
    margin-left: 240px;
}

    main.main h1 {
        color: var(--text-primary);
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        line-height: 0.9;
    }

    main.main .icon-group {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }

    main.main .entry,
    main.main .entries,
    main.main .delete-container {
        width: 100%;
    }

    main.main .entries > .entry {
        margin-bottom: 4rem;
    }

    main.main .delete-container {
        margin-top: 56px;
        width: 100%;
    }

    main.main .delete-container input.button {
        background: var(--text-secondary);
        border-radius: 5px;
        padding: 0.25rem 1rem;
    }

    main.main #favoriteInput {
        display: none;
    }

#newEntryButton {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-secondary);
    border-radius: 5px;
    width: 100%;
}

#newEntryButton > .icon {
    filter: var(--icon-secondary);
    margin-right: 1rem;
}

#newEntryButton .text {
    display: none;
}

#menuButton {
    display: none;
}

#logoutButton {
    position: absolute;
    padding: 0.25rem 1rem;
    border-radius: 5px;
    color: var(--text-primary);
    bottom: 0;
    left: 0;
    background: var(--background-sidebar);
    width: 240px;
    padding: 1rem;
}

main.main .icon-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

main.main .icon-group > img,
main.main .icon-group > a {
    margin-left: 1rem;
}

main.main .icon-container {
    margin-bottom: 46px;
}

.modal-container {
    display: none;
    justify-content: center;
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 2;
}

    .modal-container .modal {
        position: absolute;
        padding: 1rem;
        margin-top: 10%;
        background: var(--background-main);
        border-radius: 5px;
        box-shadow: 0 3px 8px -5px #000;
        width: 600px;
        z-index: 3;
    }

    .modal-container #searchForm {
        background: transparent;
    }

    #searchForm {
        display: flex;
        align-items: center;
        border-radius: 0px;
        border-bottom: 1px solid var(--text-placeholder);
        height: 40px;
        padding: 0.5rem;
    }
    
    #searchForm input {
        border: none;
        background: transparent;
        color: var(--text-secondary);
        width: 100%;
        height: fit-content;
        font-size: 1rem;
    }
    
    #searchForm input:focus {
        outline: none;
    }

.icon {
    filter: var(--icon-tertiary);
}

#favoriteButton.is_favorite,
#formFavoriteButton.is_favorite {
    filter: invert(47%) sepia(18%) saturate(1591%) hue-rotate(313deg) brightness(94%) contrast(92%);
}

.button {
    cursor: pointer;
}

button.button[type='submit'],
input.button {
    margin-left: 1rem;
    background: none;
    border: 0;
}

.icon {
    height: 1.5rem;
}

a.heading {
    text-decoration: none;
}

.search-notification {
    width: 100%;
    margin-bottom: 3.1rem;
}

@media only screen and (min-width: 1320px) {
    main.main .entry,
    main.main .entries,
    main.main #entryForm,
    main.main .delete-container {
        width: 960px;
    }
}

@media only screen and (max-width: 960px) {
    main.main {
        width: 100%;
    }
}

@media only screen and (max-width: 840px) {
    nav.navbar {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        background: var(--background-sidebar);
        height: auto;
        padding: 1rem;
        z-index: 1;
    }

    nav.navbar .icon-group {
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 0;
    }

    nav.navbar .icon-group > .icon {
        margin: 0 1rem;
    }

    nav.navbar .icon-group > .icon:first-child {
        margin-left: 0;
    }

    nav.navbar .hide-mobile-content {
        display: none;
    }

    nav.navbar .content {
        margin-top: 2rem;
    }

    nav.navbar #menuButton {
        display: block;
    }

    nav.navbar #newEntryButton {
        display: flex;
        align-items: center;
        color: var(--text-secondary);
        border-radius: 0;
        padding: 0;
        width: fit-content;
        background: transparent;
        border: none;
    }

    nav.navbar #logoutButton {
        right: 0;
        left: auto;
        top: 0;
        width: auto;
        height: 56px;
        padding: 0 1rem;
        line-height: 56px;
    }

    nav.navbar #newEntryButton .text {
        display: none;
    }

    nav.navbar #newEntryButton .icon {
        margin: 0;
    }

    main.main {
        margin-top: 56px;
        margin-left: 0;
        padding: 1rem;
    }

    main.main .icon-container {
        margin-bottom: 2rem;
    }

    .modal-container .modal {
        margin-top: 30%;
        width: 80%;
    }
}

#entryForm {
    width: 100%;
}

    #entryForm input[name='title'],
    #entryForm textarea[name='body'] {
        width: 100%;
        background: var(--background-main);
    }


    #entryForm input[name='title']::placeholder,
    #entryForm textarea[name='body']::placeholder {
        color: var(--text-placeholder);
    }

    #entryForm input[name='title']:focus,
    #entryForm textarea[name='body']:focus {
        outline: none;
    }

    #entryForm input[name='title'] {
        display: block;
        font-size: 2em;
        font-weight: bold;
        border: none;
        color: var(--text-primary);
        font-family: inherit;
        margin-top: 0.8rem;
        margin-bottom: 1.75rem;
    }

    #entryForm textarea[name='body'] {
        color: var(--text-secondary);
        font-family: inherit;
        font-size: 1rem;
        border: none;
    }


    /* autogrow textarea */

.grow-wrap {
    display: grid;
    flex: 1;
}

    .grow-wrap::after {
        content: attr(data-replicated-value) " ";
        white-space: pre-wrap;
        visibility: hidden;
    }

    .grow-wrap > textarea {
        resize: none;
        overflow: hidden;
    }

    .grow-wrap > textarea,
    .grow-wrap::after {
        font: inherit;
        grid-area: 1 / 1 / 2 / 2;
        line-height: 1.5;
        margin-bottom: 68px;
    }

body.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-main);
}

