:root {
    --background-main: #002b36;
    --background-sidebar: #023643;
    --text-primary: #93a1a1;
    --text-secondary: #dfdfdf;
    --text-tertiary: #a4b5b6;;
    --text-placeholder: #32555e;
    --icon-primary: invert(91%) sepia(5%) saturate(574%) hue-rotate(134deg) brightness(78%) contrast(90%);
    --icon-secondary: invert(100%) sepia(0%) saturate(6825%) hue-rotate(55deg) brightness(121%) contrast(75%);
    --icon-tertiary: var(--icon-primary);
    --button: #1b4a55;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

body.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-main);
    color: var(--text-primary);
}

body.registration form label {
    display: none;
}

body.registration form input {
    margin: 0.25rem 0;
    padding: 0.75rem;
    background: transparent;
    color: var(--text-secondary);
    border: 1px solid var(--text-placeholder);
    border-radius: 5px;
    width: 280px;
    font-size: 1rem;
}

body.registration form input:focus {
    outline: none;
}

body.registration form button {
    margin: 0.25rem 0;
    padding: 0.75rem;
    width: 280px;
    background: var(--text-placeholder);
    color: var(--text-secondary);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

body.registration .helptext,
body.registration ul {
    display: none;
}

body.registration .other-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

body.registration .other-options a {
    color: var(--text-primary);
    margin-bottom: 1rem;
    font-size: 14px;
}

body.registration .other-options a:last-child {
    margin-bottom: 0;
}