{% extends 'base.html' %}
{% load static %}
{% load markdown_extras %}

{% block content %}

    <div class="icon-container">
        {% if entry.favorite %}
            <a href="{% url 'favorite-post' entry.uuid %}">
                <img class="icon button is_favorite" id="favoriteButton" src="{% static 'icons/heart_fill.svg' %}" alt="Red Heart Icon">
            </a>
        {% else %}
            <a href="{% url 'favorite-post' entry.uuid %}">
                <img class="icon button" id="favoriteButton" src="{% static 'icons/heart.svg' %}" alt="Heart Outline Icon">
            </a>
        {% endif %}
        <div class="icon-group">
            <a href="{% url 'edit-post' entry.uuid %}">
                <img class="icon button" src="{% static 'icons/edit.svg' %}" alt="Edit Icon">
            </a>
            <a href="{% url 'delete-post' entry.uuid %}">
                <img class="icon button" src="{% static 'icons/delete.svg' %}" alt="Delete Icon">
            </a>
        </div>
    </div>

    <div class="entry">
        <h1>{{ entry.title }}</h1>
        <div class="markdown-body">
            <p>{{ entry.body | markdown | safe }}</p>
        </div>
    </div>

{% endblock content %}