{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="icon-container">
        {% if entry.favorite %}
            <img class="icon button is_favorite" id="formFavoriteButton" src="{% static 'icons/heart_fill.svg' %}" alt="Red Heart Icon">
        {% else %}
            <img class="icon button" id="formFavoriteButton" src="{% static 'icons/heart.svg' %}" alt="Heart Outline Icon">
        {% endif %}
        <button id="saveButton" type="submit" form="entryForm" class="button">
            <img class="icon" src="{% static 'icons/save.svg' %}" alt="Save Icon">
        </button>
    </div>

    <form class="form" id="entryForm" method="POST">
        {% csrf_token %}
        <div>{{ form.title }}</div>
        <div class="grow-wrap">{{ form.body }}</div>
        <div id="favoriteInput">{{ form.favorite }}</div>
    </form>

{% endblock content %}